.bg-primary-dark {
    background-color: rgba(0, 123, 255, 0.8);
}
.bg-success-dark {
    background-color: rgba(40, 167, 69, 0.8);
}
.bg-info-dark {
    background-color: rgba(23, 162, 184, 0.8);
}
.bg-warning-dark {
    background-color: rgba(255, 193, 7, 0.8);
}
.card {
    transition: transform 0.2s;
}
.card:hover {
    transform: translateY(-5px);
} 